<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdea.spring.simpleboard.BoardDAO"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    <select id="list" resultType="org.kdea.spring.simpleboard.BoardVO">
   		 <!--select * from SIMPLEBOARD;-->
     SELECT t1.*, TRUNC((ROWNUM-1)/5)+1 page FROM ( SELECT BNUM,LPAD(' ', (LEVEL-1)*4,'　') || DECODE(LEVEL,1,'','┕ ')||title as title,BCONTENTS,WDATE,author,bREF FROM SIMPLEBOARD START WITH BREF='0' CONNECT BY PRIOR BNUM=BREF order siblings by BNUM) t1 
    </select>
    <insert id="insert" parameterType="org.kdea.spring.simpleboard.BoardVO">
		insert into SIMPLEBOARD (BNUM,TITLE,BCONTENTS,author,WDATE,BREF) values (BOARD_SEQ.NEXTVAL,#{title}, #{bcontents}, #{author},SYSDATE, #{bref})
    </insert>
  <select id="info" resultType="org.kdea.spring.simpleboard.BoardVO">
        select * from SIMPLEBOARD where BNUM=#{bnum}
    </select>
   <update id="update" parameterType="org.kdea.spring.simpleboard.BoardVO">
       update SIMPLEBOARD set title=#{title},BCONTENTS=#{bcontents},author=#{author} where BNUM=#{bnum}
    </update>
    <delete id="delete">
        delete from SIMPLEBOARD where BNUM=#{bnum}
    </delete>
    <select id="search" resultType="org.kdea.spring.simpleboard.BoardVO">
    	 <!-- select * from SIMPLEBOARD where title like '%'||#{title}||'%' ORDER BY BNUM -->
    select t2.* from (SELECT t1.*, TRUNC((ROWNUM-1)/5)+1 page FROM ( SELECT BNUM,LPAD(' ', (LEVEL-1)*4,'　') || DECODE(LEVEL,1,'','┕ ')||title as title,BCONTENTS,WDATE,author,bREF FROM SIMPLEBOARD where title like '%'||#{title}||'%' START WITH BREF='0' CONNECT BY PRIOR BNUM=BREF order siblings by BNUM DESC) t1) t2 where page=#{page} 
    </select>
     <select id="searcha" resultType="org.kdea.spring.simpleboard.BoardVO">
     <!--  select * from SIMPLEBOARD where author like '%'||#{author}||'%' ORDER BY BNUM -->
    select t2.* from (SELECT t1.*, TRUNC((ROWNUM-1)/5)+1 page FROM ( SELECT BNUM,LPAD(' ', (LEVEL-1)*4,'　') || DECODE(LEVEL,1,'','┕ ')||title as title,BCONTENTS,WDATE,author,bREF FROM SIMPLEBOARD where author like '%'||#{author}||'%' START WITH BREF='0' CONNECT BY PRIOR BNUM=BREF order siblings by BNUM DESC) t1) t2 where page=#{page} 
    </select>
    <select id="getPagelist" resultType="org.kdea.spring.simpleboard.BoardVO">
   		 <!--select * from SIMPLEBOARD;-->
   		 select t2.* from (SELECT t1.*, TRUNC((ROWNUM-1)/5)+1 page FROM ( SELECT BNUM,LPAD(' ', (LEVEL-1)*4,'　') || DECODE(LEVEL,1,'','┕ ')||title as title,BCONTENTS,WDATE,author,bREF FROM SIMPLEBOARD START WITH BREF='0' CONNECT BY PRIOR BNUM=BREF order siblings by BNUM DESC) t1) t2 where page=#{pg}
    </select>
    <select id="getTotalRows" resultType="java.lang.Integer">
   		 select count(*) from SIMPLEBOARD
    </select>
     <select id="getsearchTotalRows" resultType="java.lang.Integer">
   		 select count(*) from SIMPLEBOARD where title like '%'||#{title}||'%'
    </select>
     <select id="getsearchaTotalRows" resultType="java.lang.Integer">
   		 select count(*) from SIMPLEBOARD where author like '%'||#{author}||'%' 
    </select>
</mapper>